
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }
  .hero-picture {
    display: block;
    margin: 0 auto;
    width: 33rem;
    max-width: 100%;
    height: auto;
  }
  
  .talk-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #8b1a4b;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .talk-button:hover {
    background-color: #0056b3;
  }
  
  